.card{
    margin: 50px;
    border-radius: 25px;
    background: linear-gradient(30deg, #abd4e8 25%, #89daec 50%, #5fa4e4 100% );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic white;
    font-size: small;
  }
  
  